<h1>Users#index</h1>
<table class="user_index">
	<tr class="user_row">
		<% @user.each do |d| %>
		<td>
		<%= link_to d.name, user_path(d) %>
		</td><td><%= d.email %>
		</td>
		<td>Phone Number TBD</td>
	</tr>
<% end %>
</table>

<p>Find me in app/views/users/index.html.erb</p>
